stages: # List of stages for jobs, and their order of execution
  - vars
  - build
  - deploy
  - tag

variables: # all jobs in the pipeline can access $QA_URL and $PROD_URL
  ACCESS_TOKEN: "glpat-aqS1YsoTct5iZOPcijP6Fm86MQp1OjEH.01.0w16r041e"
  CI_PROJECT_ID: 1 # "sample-1"
  MINOR_VERSION_VAL: 100

vars-job:
  image: ubuntu:22.04
  stage: vars
  except:
    - tags
  script:
    - apt update && apt install -y curl jq
    - echo "ENV variable from GitLab API:"
    # - |
    #   ENV_VALUE=$(curl --header "PRIVATE-TOKEN: glpat-aqS1YsoTct5iZOPcijP6Fm86MQp1OjEH.01.0w16r041e" "http://host.docker.internal/api/v4/projects/1/variables/ENV")
    # - |
    #   echo "ENV_VALUE=$ENV_VALUE"
    - echo "MINOR_VERSION=$VERSION"
    - |
      VAL=$(curl --header "PRIVATE-TOKEN: $ACCESS_TOKEN" "http://host.docker.internal/api/v4/projects/$CI_PROJECT_ID/variables/VERSION" | jq -r '.value')
    - echo "VERSION=$VAL"
    - VAL=$((VAL + 1))
    - MINOR_VERSION_VAL=$((VAL + 1))
    - echo "VERSION=$VAL"                                          # <-- reuse variables in two jobs
    - echo "MINOR_VERSION_VAL=$MINOR_VERSION_VAL" >> variables.env # <-- reuse variables in two jobs
    - echo "VERSION=$VAL" >> variables.env                         # <-- reuse variables in two jobs
    - |
      curl --header "PRIVATE-TOKEN: $ACCESS_TOKEN" --request PUT "http://host.docker.internal/api/v4/projects/$CI_PROJECT_ID/variables/VERSION" --data "{ \"value\": $VAL }" --header "Content-Type: application/json"
  allow_failure: true
  artifacts:                  # <-- reuse variables in two jobs
    reports:                  # <-- reuse variables in two jobs
      dotenv: variables.env   # <-- reuse variables in two jobs

build-job:
  image: mcr.microsoft.com/dotnet/sdk:8.0
  stage: build
  except:
    - tags
  needs: [vars-job]
  script:
    - apt-get update && apt-get install -y lftp
    - echo "VERSION=$MINOR_VERSION_VAL"
    - dotnet publish "GitLabDeploy/WebApplication1.csproj" -c Release -o publish/ -p:Version="1.0.0.$MINOR_VERSION_VAL"
    - lftp -u $FTP_USER,$FTP_PASSWORD $FTP_SERVER -e "mirror -R --only-newer publish/ sample.lyhin.com/; bye"
  allow_failure: true


# deploy_A_dev-job:
#   stage: deploy
#   except:
#     - tags
#   environment:
#     name: dev
#     url: http://dev.lyhin.com
#   script:
#     - echo "Deploying application..."
#     - echo "Masked variable is " $Password
#     - echo "Application successfully deployed."
#   when: manual
#   allow_failure: true

# deploy_B_qa-job:
#   stage: deploy
#   except:
#     - tags
#   environment:
#     name: qa
#     url: http://qa.lyhin.com
#   script:
#     - echo "Deploying application..."
#     - echo "QA_URL is " $QA_URL
#     - echo "Application successfully deployed."
#   when: manual
#   allow_failure: true

# deploy_C_prod-job:
#   stage: deploy
#   except:
#     - tags
#   environment:
#     name: prod
#     url: http://lyhin.com
#   script:
#     - echo "Deploying application..."
#     - echo "PROD_URL is " $PROD_URL
#     - echo "Application successfully deployed."
#   when: manual
#   allow_failure: true


tag-job:
  stage: tag
  except:
    - tags
  needs: [vars-job, build-job]   # <-- reuse variables in two jobs
  before_script:
    - apk add --no-cache git
    - git config --global user.email "ci@example.com"
    - git config --global user.name "CI Bot"
  script:
    - echo "VERSION=$MINOR_VERSION_VAL"
    - git remote set-url origin http://gitlab-ci-token:glpat-yrMpc3CHRZkfQ3TcvN79Zm86MQp1OjEH.01.0w17obilk@host.docker.internal/root/sample-1.git
    - git fetch origin main
    - git checkout main
    - git reset --hard origin/main
    - git tag "v1.0.0.$MINOR_VERSION_VAL"
    - git push origin "v1.0.0.$MINOR_VERSION_VAL" 
  allow_failure: true